<div class="flex flex-col w-full" data-controller='toggle' data-tasks--index-target="toggle">
  <div>
    <%= simple_form_for task, html: {'data-tasks--index-target': 'form', autocomplete: "off"} do |form| %>
      <%= render "shared/error_messages", resource: form.object %>
      <%= form.hidden_field :list_id, value: task.list_id.present? ? task.list_id : current_workspace.default_list.id %>

      <div data-tasks--index-target="formElements">
        <%= render partial: 'tasks/form_field', locals: { form: form } %>
      </div>

      <div class="my-4">
        <%= form.submit nil, class: "inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:w-auto sm:text-sm" %>
        <%= link_to t("cancel"), tasks_path, class: "mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" %>
      </div>
    <% end %>
  </div>
</div>
