<%= content_for :page_title do %>
  <h1 class="text-2xl font-bold"><%= t(".title") %></h1>
<% end %>


<%= content_for :content_sidebar do %>
  <div class="w-72 flex flex-row lg:overflow-y-auto md:border-r border-gray-200 bg-white p-4 lg:block">
    <%= render partial: "shared/account_navbar" %>
  </div>
<% end %>

<div class="flex flex-wrap my-4 lg:px-4 w-full">
  <div class="w-full">
    <div class="p-4 bg-white">
      <%= render "form", api_token: @api_token %>

      <%= link_to t("back"), api_tokens_path %>
    </div>
  </div>
</div>
