<ul role="list" class="flex flex-1 flex-col gap-y-7 list-none h-full">
  <li>
    <ul role="list" class="-mx-2 space-y-1 list-none">
      <li>
        <a href="<%= user_root_path %>" class="<%= current_controller?("dashboards") ? "bg-gray-50 text-indigo-600" : "text-gray-700" %> text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" aria-current="page">
          <%= render_svg "icons/home", styles: "icon-sm #{current_controller?("dashboards") ? "text-indigo-600" : "text-gray-400"} group-hover:text-indigo-600 mr-4 flex-shrink-0 w-6 h-6" %>
          Dashboard
        </a>
      </li>
      <li>
        <a href="<%= tasks_path %>" class="<%= current_controller?("tasks") ? "bg-gray-50 text-indigo-600" : "text-gray-700" %> text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
          <%= render_svg "icons/list-bullet", styles: "icon-sm #{current_controller?("tasks") ? "text-indigo-600" : "text-gray-400"} group-hover:text-indigo-600 mr-4 flex-shrink-0 w-6 h-6" %>
          Tasks
        </a>
      </li>
      <li>
        <a href="<%= timeboxing_path %>" class="<%= current_controller?("timeboxings") ? "bg-gray-50 text-indigo-600" : "text-gray-700" %> text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
          <%= render_svg "icons/timebox", styles: "icon-sm #{current_controller?("timeboxings") ? "fill-indigo-600" : "fill-gray-400"} group-hover:fill-indigo-600 mr-4 flex-shrink-0 w-6 h-6" %>
          Timeboxing
        </a>
      </li>
      <li>
        <a href="<%= calendars_path %>" class="<%= current_controller?("calendars") ? "bg-gray-50 text-indigo-600" : "text-gray-700" %> text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
          <%= render_svg "icons/calendar", styles: "icon-sm #{current_controller?("calendars") ? "text-indigo-600" : "text-gray-400"} group-hover:text-indigo-600 mr-4 flex-shrink-0 w-6 h-6" %>
          Calendar
        </a>
      </li>
      <li>
        <a href="<%= habits_path %>" class="<%= current_controller?("habits") ? "bg-gray-50 text-indigo-600" : "text-gray-700" %> text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
          <%= render_svg "icons/goals", styles: "icon-sm #{current_controller?("habits") ? "fill-indigo-600" : "fill-gray-400"} group-hover:fill-indigo-600 mr-4 flex-shrink-0 w-6 h-6" %>
          Habits
        </a>
      </li>
      <% if current_user.preferences(:view_options).get(:contacts) %>
        <li>
          <a href="<%= contacts_path %>" class="<%= current_controller?("contacts") ? "bg-gray-50 text-indigo-600" : "text-gray-700" %> text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
            <svg class="<%= current_controller?("contacts") ? "text-indigo-600" : "text-gray-400" %> group-hover:text-indigo-600 mr-4 flex-shrink-0 w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
            </svg>
            Contacts
          </a>
        </li>
      <% end %>

      <% if current_user.preferences(:view_options).get(:meal_plans) %>
        <li>
          <a href="<%= meals_path %>" class="<%= current_controller?("meals") ? "bg-gray-50 text-indigo-600" : "text-gray-700" %> text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
            <%= render_svg "icons/meal-checklist", styles: "icon-sm #{current_controller?("meals") ? "text-indigo-600" : "text-gray-400"} group-hover:text-indigo-600 mr-4 flex-shrink-0 w-6 h-6" %>
            Meal Plans
          </a>
        </li>
      <% end %>

      <% if current_user.preferences(:view_options).get(:coupons) %>
        <li>
          <a href="<%= coupons_path %>" class="<%= current_controller?("coupons") ? "bg-gray-50 text-indigo-600" : "text-gray-700" %> text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
            <%= render_svg "icons/coupon", styles: "icon-sm #{current_controller?("coupons") ? "fill-indigo-600" : "fill-gray-400"} group-hover:fill-indigo-600 mr-4 flex-shrink-0 w-6 h-6" %>
            Coupons
          </a>
        </li>
      <% end %>
    </ul>
  </li>

  <li class="mt-auto">
    <a href="<%= edit_user_preferences_path %>" class="<%= current_controller?(user_settings_nav_link_to) ? "bg-gray-50 text-indigo-600" : "text-gray-700" %> text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
      <%= render_svg "icons/cog", styles: "icon-sm #{current_controller?(user_settings_nav_link_to) ? "fill-indigo-600" : "fill-gray-400"} group-hover:fill-indigo-600 mr-4 flex-shrink-0 w-5 h-5" %>
      Settings
    </a>
  </li>
</ul>

