<tr id="<%= dom_id(event, :index) %>">
  <%= turbo_stream_from event %>

  <td class="whitespace-pre-line py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0"><%= event.name %></td>
  <td class="whitespace-pre-line py-4 px-3 text-sm text-gray-500"><%= event.description %></td>
  <td class="py-4 px-3 text-sm text-gray-500">
    <% if event.is_same_day? %>
      <%= event.start_time.strftime("%B %d, %Y ⋅ %I:%M %p") %> - <%= event.end_time.strftime("%I:%M %p") %>
    <% elsif event.all_day? %>
      <%= event.start_time.strftime("%B %d, %Y") %>
      -
      <%= event.end_time.strftime("%B %d, %Y") %>
    <% else %>
      <%= event.start_time.strftime("%B %d, %Y ⋅ %I:%M %p") %> - <%= event.end_time.strftime("%B %d, %Y ⋅ %I:%M %p") %>
    <% end %>
  </td>
  <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
    <%= link_to "View", event %>
  </td>
</tr>


