<%= turbo_frame_tag contact do %>
  <div class="flex flex-col mb-4 items-start w-full">
    <div class="flex w-full mb-2">
      <div class="flex-1">
        <%= link_to edit_contact_path(contact), class: 'h-full', form: { data: { turbo_frame: "_top" } } do %>
          <label class="font-medium text-gray-700">
            <%= contact.name %>
          </label>
          <% if contact.company_name.present? %>
            <p class="text-gray-500"><%= contact.company_name %></p>
          <% end %>
          <% if contact.address.present? %>
            <p class="text-gray-500"><%= contact.address %></p>
          <% end %>
          <% if contact.website_url.present? %>
            <p class="text-gray-500">
              <%= link_to contact.website_url, contact.link_website_url, target: "_blank" %>
            </p>
          <% end %>
        <% end %>
      </div>
      <div class="flex justify-end">
        <%= link_to edit_contact_path(contact), class: 'flex-no-shrink p-2 rounded', form: { data: { turbo_frame: "_top" } } do %>
          <%= render_svg "icons/pencil-square", styles: "fill-none icon-lg text-gray-600 inline-block" %>
        <% end %>
        <%= link_to contact_path(contact), method: :delete, class: 'flex-no-shrink p-2 rounded text-red-600 hover:text-red-200' do %>
          <%= render_svg "icons/trash", styles: "fill-none icon-lg text-red-600 inline-block" %>
        <% end %>
      </div>
    </div>
    <hr class="flex-1 w-full"/>
  </div>
<% end %>

