<%#
# Show
  #
This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:
#
- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="flex items-center border-b border-gray-300 py-4 px-2">
  <div class="flex lg:hidden pr-6">
    <button data-action="slideover#_show" type="button" class="border-r border-gray-200 text-gray-500 focus:outline-none hover:bg-white hover:text-gray-700 lg:hidden">
      <span class="sr-only">Open sidebar</span>
      <!-- Heroicon name: outline/bars-3-bottom-left -->
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
      </svg>
    </button>
  </div>

  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= button_to "Login As", admin_user_impersonate_path(page.resource), method: :post, form_class: "inline-block", class: "button" %>

    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if accessible_action?(page.resource, :edit) %>

    <%= link_to(
      t("administrate.actions.destroy"),
      [namespace, page.resource],
      class: "button button--danger",
      data: { turbo_method: :delete, turbo_confirm: t("administrate.actions.confirm") }
    ) if accessible_action?(page.resource, :destroy) %>
  </div>
</header>

<div class="h-full md:flex md:flex-1 sm:block md:items-stretch overflow-y-auto">
  <section class="main-content__body w-full">
    <dl>
      <% page.attributes.each do |attribute| %>
        <dt class="attribute-label" id="<%= attribute.name %>">
        <%= t(
          "helpers.label.#{resource_name}.#{attribute.name}",
          default: page.resource.class.human_attribute_name(attribute.name),
        ) %>
        </dt>

        <dd class="attribute-data attribute-data--<%= attribute.html_class %>"
            ><%= render_field attribute, page: page %></dd>
      <% end %>
    </dl>
  </section>
</div>
