<div class="relative w-full h-full p-4">
  <div class="flex justify-between">
    <h2 class="text-xl font-medium text-gray-700">Goals</h2>
  </div>

  <div class="flex justify-between my-2">
    <span class="text-gray-400 text-sm">
      <%= current_workspace.goals.completed.count %> Completed Goals
    </span>

    <a href="<%= habits_path(show_completed: !@toggle_completed) %>" class="focus:outline-none text-gray-400 text-sm">
      <%= params[:show_completed] == 'true' ? "Hide": "Show"%>
    </a>
  </div>

  <ul class="list-none py-3" role="list">
    <%= render @goals if @goals.present? %>
  </ul>

  <div class="flex justify-end">
    <div data-controller="modal" data-modal-allow-background-close="true" data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close">
      <a href="#" data-action="click->modal#open" class="btn btn-primary btn-small rounded-lg">
        <%= render_svg "icons/plus-outline", styles: "mr-2 h-5 w-5" %>
        <span>Add Goal</span>
      </a>

      <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="modal-container hidden">
        <div class="modal-body">
          <%= render partial: "goals/form", locals: { goal: Goal.new } %>
        </div>
      </div>
    </div>
  </div>
</div>
